.carousel__container {
    margin: 5px;
}

.paper {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    padding: 20px;
}

.item__title {
    text-align: center;
    padding: 10px;  
    width: 100%;
}

.item__overview {
    position: absolute;
    top: 50%;
    justify-content: center;
    padding: 10px;
    width: 100%;

}

.item__icons {
    position: absolute;
    bottom: 10%;
}

.item__icons button {
    margin: 0 10px;
}

.text__gradient {
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(100,128,181,0) 100%);
}